export DOCKER_CONTAINER_NAME="hostelworld-sherpa-test-runner"
export COMPOSE_PROJECT_NAME="hostelworld-sherpa"

alias enable_visual_testing="export HEADLESS=false"
alias disable_visual_testing="unset HEADLESS"

alias enable_rspec_debug_mode="export RSPEC_DEBUG_MODE=true"
alias disable_rspec_debug_mode="unset RSPEC_DEBUG_MODE"

alias t="make test"
alias rs="t"

alias lint="make lint"
alias lintf="make lint_fix"
alias lint_fix="make lint_fix"

alias rest="docker compose restart"
alias c="de irb"
